{"jdx_orm_spec_file": "./config/gilhari9_mysql.jdx",  
"jdbc_driver_path": "./config/sqlite-jdbc-3.46.0.0.jar",  
"db_username": "sa",  
"db_password": "sa",  
"jdx_debug_level": 5,  
"jdx_force_create_schema": "true",  
"jdx_persistent_classes_location": "./bin",  
"classnames_map_file": "./config/classNameMapping.js",  
"gilhari_rest_server_port": 8081}